
.map table, .map table tbody, .map table tr, .map table td, .map table img {
  /*position: static;*/
  border-collapse:collapse;
  padding:0;
  margin:0;
  border:0;
  display: block;
}

.map table td {
  /*border: 1px;*/
  /*border-style: solid;*/
}

#player {
  position: relative;
  left: 0;
  top: -32px;
  z-index: +2;
  margin-bottom: -32px;
}

.map .enemy {
  position: relative;
  left: 0;
  top: -32px;
  z-index: +1;
  margin-bottom: -32px;
}
